# Dependencies
node_modules/

# Build output
dist/

# Env files (IMPORTANT)
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Drizzle
drizzle/

# IDE
.vscode/
.idea/